pi19_02/L1_WCF/L1.Client/Connected Services/ServiceReference1/Meta.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:8000/Service1/Meta?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/L1.WcfServiceLibrary" />
  <xs:import schemaLocation="http://127.0.0.1:8000/Service1/Meta?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://127.0.0.1:8000/Service1/Meta?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:element name="GetInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/L1.WcfServiceLibrary" minOccurs="0" name="GetInfoResult" nillable="true" type="q1:EncyclopediaType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sDirectoryCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/L1.WcfServiceLibrary" minOccurs="0" name="GetPartResult" nillable="true" type="q2:EncyclopediaPartType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sDirectoryCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sFileNameCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArticleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/L1.WcfServiceLibrary" minOccurs="0" name="GetArticleResult" nillable="true" type="q3:EncyclopediaArticleType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sDirectoryCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sImgNameCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetImagesResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFullArticle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sDirectoryCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sNameFullAtricle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sText" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sBooks" nillable="true" type="q4:ArrayOfstring" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sPictures" nillable="true" type="q5:ArrayOfbase64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateFullArticleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestCreateWithoutMassiveOnlyMemory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sDirectoryCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sNameFullAtricle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sText" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="sPictures" nillable="true" type="q6:MemoryStream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestCreateWithoutMassiveOnlyMemoryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditFullArticle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sDirectoryCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sFullArtocleCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sFullArticleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sFullArticleText" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="sBooks" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditFullArticleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPictureToServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sDirectoryCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="sPicture" nillable="true" type="q8:MemoryStream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPictureToServerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>